#section{
    margin: 3px 3px;
    background-color: #d9b1b3;
}
.menu-section{
    background-image: url("..img/banner.jpeg");
    width: 100%;
    height: 550px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu img{
    margin-top: 20px;
}
