#section{
    margin: 3px 3px;}
.menu-section{
    background-image: url("./img/banner.jpeg");
    width: 100%;
    height: 700px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu img{
    margin-top: 20px;
}
.flex-container{
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cote1{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.about{
    width: 20%;
    margin: 10px;
    padding: 20px;
    text-align: end;
}
.about h1{
    color: white; 
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
.level2{
    background-color: #d9b1b3;
    width: 100%;
    height: 577px;
    display: inline-flex;
}
.level2 h6{
    margin-top: 70px;
    font-family: 'Playfair Display', serif;
    line-height: 48px;
    padding-left: 37px;
    font-size: 30px;
    color: white;
}
.h{
    font-size: 60px;
}
.level2 h4{
    color: white;
    padding: 37px;
}
