*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 22.4px;
    line-height: 1.6; 
}
.row{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.row-article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row-column{
    width: 80%; 
    display: flex;
    flex-direction: column;
}
.row-100{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.row-column100{
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.custom-font{
    font-family: 'Playfair Display', serif;
}
header{
    background-image: url('./img/banner.jpeg');
    width: 100%;
    height: 120vh;
    display: flex;
    padding: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}         
.banner-heading{
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    padding: 0px 32px;
}
.banner-text{
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 30px;
}
.anon-section{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: #d9b1b3;
    color: white;
}
.anon{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 50px;
}
.h{
    font-size: 50px;
}
.para-section{
    font-size: 20px;
    width: 60%;
}
.gallery .image-container{
    height: 500px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallery .gallery-1{
    background-image: url(./img/gallery-1.jpeg);
}
.gallery .gallery-2{
    background-image: url(./img/gallery-2.jpeg);
}
.gallery .gallery-3{
    background-image: url(./img/gallery-3.jpeg);
}
.gallery .gallery-4{
    background-image: url(./img/gallery-4.jpeg);
}
.gallery .gallery-5{
    background-image: url(./img/gallery-5.jpeg);
}
.gallery .gallery-6{
    background-image: url(./img/gallery-6.jpeg);
}
.coming-soon{
    background-color: #d9b1b3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coming-soon .row-column100{
    align-items: center;
}
.comsoon{
    font-size: 60px;
    color: white;
    padding: 25px;
}
.comtext{
    color: white;
    padding-bottom: 40px;
}
.comform .input-container{
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}
.input-container .input-text{
    padding: 15px;
    border-radius: 25px;
    border: unset;
}
.input-container .button{
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: unset;
}
.form-part{
    padding-bottom: 70px;
}
.picture .article-picture{
    height: 585px;
    width: 332px;
    background-image: url(./img/article-img.jpeg);
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3opx 30px;
}
.picture{
  margin: 100px 100px;
  background-color: tomato;
}
.signature{
    margin-top: 30px;
}
.row-article .article{
    text-align: justify;
    font-style: normal;
    font-size: 20px;
}
.article h4{
    padding-right: 100px;
    font-size: 20px;
    font-weight: normal;
}
.row-slide{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.spring h1{
    font-weight: 700;
    font-size: 52px;
    color: white;
}
.row-slide .slide-container{
    height: 400px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px 5px;
}
.row-slide .slide-1{
    background-image: url(./img/slide-1.jpg);
}
.row-slide .slide-2{
    background-image: url(./img/slide-2.jpg);
}
.row-slide .slide-3{
    background-image: url(./img/slide-3.jpg);
}
.row-slide .slide-4{
    background-image: url(./img/slide-4.jpg);
}
.arrow img{
    width: 70px;
    height: 70px; 
}
.arrow{
    margin: 25px;
}
.sneakers-section{
    width: 90%;
    justify-content: center;
    margin: 70px auto;
}
.sneakers{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sneakers-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px; 
}
.sneakers .sneakers-container{
    height: 400px;
    display: flex;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 10px 10px;
}
.sneakers .sneakers-1{
    background-image: url(./img/product-1.jpg);
}
.sneakers .sneakers-2{
    background-image: url(./img/product-2.jpg);
}
.sample-text h2{
    font-size: 36px;
    font-weight: 700px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}
.sample-text h1{
    padding: 15px;
}
.sample-text h4{
    font-size: 16px;
    font-weight: normal;
    padding: 15px;
}
.summit-container{
    padding: 15px;

}
.summit-container .button1{
    padding: 10px 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: unset;
    font-size: 20px;
    font-weight: lighter;
}
.footer{

}
.footer-section .footer-container{
    height: 650px;
    display: flex;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-container{
    width: 50%;
    background-image: url(./img/subscribe.jpeg);
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subscripe-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
.footer-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}
.footer-text .horiline{
    width: 100%;
    height: 10px;
    background-color: #d9b1b3;
    padding: 2.5px;
    margin: 20px;
}
.subscribe-text h1{
    font-weight: 700px;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    padding: 2.5px;
}
.subscripe-input .sus-container{
   display: flex;
   padding: 15px;

}
.sus-container .sub-text{
    padding: 15px;
}
.summit-container .sub-button{
    padding: 10px 20px;
    font-weight: normal;
}
.sub-text h4{
    width: 56%;
    font-size: 13px;
    text-align: justify;
    font-weight: normal;
}
.sub-text{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.socials{
    padding: 10px;
}
.socials .socials1{
    padding: 5px;
}
.bottom{
    width: 100%;
    height: 400px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding: 30px;

}
.bottom .bottom-section{
    width: 38%;
    margin-top: 5%;
}
.bottom-section h4{
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: normal;
}
.bottom-section .address{
    font-size: 11px;
    padding-top: 150px;
}