*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 22.4px;
    line-height: 1.6; 
}
.row{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.row-article{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row-column{
    width: 80%; 
    display: flex;
    flex-direction: column;
}
.row-100{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.row-column100{
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.custom-font{
    font-family: 'Playfair Display', serif;
}
header{
    background-image: url('./img/banner.jpeg');
    width: 100%;
    height: 120vh;
    display: flex;
    padding: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}         
.banner-heading{
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    padding: 0px 32px;
}
.banner-text{
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 30px;
}
.anon-section{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: #d9b1b3;
    color: white;
}
.anon{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 50px;
}
.h{
    font-size: 50px;
}
.para-section{
    font-size: 20px;
    width: 60%;
}
.gallery .image-container{
    height: 500px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallery .gallery-1{
    background-image: url(./img/gallery-1.jpeg);
}
.gallery .gallery-2{
    background-image: url(./img/gallery-2.jpeg);
}
.gallery .gallery-3{
    background-image: url(./img/gallery-3.jpeg);
}
.gallery .gallery-4{
    background-image: url(./img/gallery-4.jpeg);
}
.gallery .gallery-5{
    background-image: url(./img/gallery-5.jpeg);
}
.gallery .gallery-6{
    background-image: url(./img/gallery-6.jpeg);
}
.coming-soon{
    background-color: #d9b1b3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coming-soon .row-column100{
    align-items: center;
}
.comsoon{
    font-size: 60px;
    color: white;
    padding: 25px;
}
.comtext{
    color: white;
    padding-bottom: 40px;
}
.comform .input-container{
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}
.input-container .input-text{
    padding: 15px;
    border-radius: 25px;
    border: unset;
}
.input-container .button{
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: unset;
}
.form-part{
    padding-bottom: 70px;
}
.picture .article-picture{
    height: 585px;
    width: 332px;
    background-image: url(./img/article-img.jpeg);
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3opx 30px;
}
.picture{
  margin: 100px 100px;
  background-color: tomato;
}
.signature{
    margin-top: 30px;
}
.row-article .article{
    text-align: justify;
    font-style: normal;
    font-size: 2opx;
    margin: 60px 2px 0px 0px;
    font-family: 'Open Sans',sans-serif;
}