#section{
    margin: 3px 3px;
    background-color: #d9b1b3;
}
.menu-section{
<<<<<<< HEAD:style.css
    background-image: url("./img/banner.jpeg");
=======
    background-image: url("./img/banner.jpeg");
>>>>>>> 777454d0be17eba632f64c7c758b757ea0adf609:css/style.css
    width: 100%;
    height: 550px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu img{
    margin-top: 20px;
}
